<style>
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
</style>

.h1{
    font-family: 'Source Sans Pro', sans-serif;
}
.p1 {
    font-family: 'Source Sans Pro', sans-serif;
}